^{:open-url false
  :watch-dirs ["src"]
  :css-dirs ["resources/public/css"]
  :ring-server-options {:port 9501 :host "0.0.0.0"}}
{:main app.core
 :output-to "resources/public/js/app.js"
 :output-dir "resources/public/js/compiled/app"
 :asset-path "/js/compiled/app"
 :optimizations :none
 :pretty-print true
 :source-map true
 :install-deps false
 :npm-deps false
 :source-map-timestamp true
 :preloads [day8.re-frame-10x.preload]
 :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}
