:root {
    --text-color: rgba(255, 255, 255, 0.87);
    --text-medium-color: rgba(255, 255, 255, 0.6);
    --background-color: #121212;
    --background-e1: rgba(255, 255, 255, 0.07);
}

html, body, #app { height: 100%; margin: 0; padding: 0; }

body {
    background-color: var(--background-color);
    overscroll-behavior-y: contain;
    user-select: none;
}

.message {
    font-size: 1.2rem;
}

.form-label {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    display: block;
}

.table {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.game {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1rem solid gray;
    box-sizing: border-box;
    flex-grow: 1;
}

.game-box {
    height: 100%;
    display: flex;
    flex-grow: 1;
}

.tray {
    position: relative;
    width: 3rem;
    flex-shrink: 0;
    background-color: silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

.tray-checkers {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tray-checkers-up {
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
}

.tray-checkers-down {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
}

.tray-label {
    writing-mode: vertical-rl;
}

.status-bar {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    color: var(--text-color);
    writing-mode: vertical-rl;
}

.status-bar .checker {
    display: inline-block;
    width: 1rem;
}

.active-player-info {
    display: flex;
    align-items: center;
}

.game-line {
    width: 100%;
    height: 0;
    display: flex;
    gap: 0.2rem;
    flex-grow: 1;
}

.bar {
    position: relative;
    background-color: grey;
    height: 100%;
    width: 2rem;
    flex-shrink: 0;
}

.center-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 2rem;
    background-color: grey;
    align-self: center;
}

.point {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
}

.point--selected .point-img {
    filter: drop-shadow(0 0 6px lime);
}
.game-line1 .point--selected .checker:last-child,
.game-line2 .point--selected .checker:first-child {
    opacity: 0.7;
}

.point-img {
    fill: red;
}

.game-line1 .point:nth-of-type(even) .point-img,
.game-line2 .point:nth-of-type(odd) .point-img{
    fill: darksalmon;
}

.checkers {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.bar-checkers {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-checkers-up {
    justify-content: flex-end;
}

.game-line:first-child .checkers {
    justify-content: flex-start;
}

.checker {
    aspect-ratio: 1;
    width: 40%;
    border-radius: 100%;
    flex-grow: 0;
}
.checker-p1 {
    background-color: yellow;
}
.checker-p2 {
    background-color: green;
}

.rolls {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    top: calc(50% - 1rem);
}

.rolls--inactive {
    opacity: 0.4;
}

.winner {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: calc(50% - 1rem);
}

.die {
    width: 2rem;
    height: 2rem;
    background-color: var(--background-e1);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    font-size: 1.2rem;
    color: var(--text-medium-color);
}

.issue-link, .rules-link {
    text-align: center;
    margin-bottom: 1rem;
}

.app-version {
    user-select: text;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;;
    text-align: center;
    color: var(--text-medium-color);
}

.menu {
    color: var(--text-color);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.menu button.close {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: none;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: var(--background-e1);
    color: var(--text-color);
}

.menu button.action {
    width: 100%;
    font-size: 3rem;
    margin-bottom: 2rem;
    background-color: var(--background-e1);
    color: var(--text-color);
}

.menu--header {
    display: flex;
    justify-content: flex-end;
}

.menu--footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
